.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.page-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 48px 48px 48px;
}

@media (max-width: 768px) {
  .page-content {
    padding: 0 16px 120px 16px;
  }
}
